* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background: #202020;
  --foreground: #e8e8e8;
  --foreground2: #e8e8e8a0;
  --font-size: min(90vw / 15, 90vh / 15);
  --icon-size: min(90vw / 8, 90vh / 8);
  --clock-size: min(91vw, 91vh);
  --transform-origin: 50% min(45vw, 45vh);
  --container-direction: column;
  --nav-direction: row;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
}

#all-screen {
  width: 100vw;
  height: 99vh;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: var(--container-direction);
  align-items: center;
  justify-content: center;
}
#all-screen #clock-face {
  border: min(0.5vh, 0.5vw) solid var(--foreground);
  width: var(--clock-size);
  height: var(--clock-size);
  border-radius: 50%;
  position: relative;
  color: var(--foreground);
  font-size: var(--font-size);
  margin: auto;
}
#all-screen #clock-face time {
  position: absolute;
}
#all-screen #clock-face #h12 {
  top: 5%;
  left: 47%;
}
#all-screen #clock-face #h1 {
  top: 10%;
  left: 69%;
}
#all-screen #clock-face #h2 {
  top: 25%;
  left: 85%;
}
#all-screen #clock-face #h3 {
  top: 46%;
  left: 91%;
}
#all-screen #clock-face #h4 {
  top: 68%;
  left: 85%;
}
#all-screen #clock-face #h5 {
  top: 82%;
  left: 69%;
}
#all-screen #clock-face #h6 {
  top: 87%;
  left: 48%;
}
#all-screen #clock-face #h7 {
  top: 81%;
  left: 27%;
}
#all-screen #clock-face #h8 {
  top: 68%;
  left: 12%;
}
#all-screen #clock-face #h9 {
  top: 46%;
  left: 6%;
}
#all-screen #clock-face #h10 {
  top: 25%;
  left: 11%;
}
#all-screen #clock-face #h11 {
  top: 10%;
  left: 26%;
}
#all-screen #clock-face .arm {
  position: absolute;
  transform-origin: bottom;
}
#all-screen #clock-face .seconds {
  bottom: 50%;
  left: 50%;
  background-color: red;
  height: 45%;
  width: min(1vh, 1vw);
  border-radius: 2cqi;
  animation: turn 60s linear infinite;
  animation-delay: var(--_ds, 0ms);
  z-index: 7;
}
#all-screen #clock-face .minutes {
  bottom: 50%;
  left: 48.5%;
  background-color: var(--foreground);
  height: 37%;
  width: min(2.5vh, 2.5vw);
  border-radius: 5cqi;
  animation: turn 3600s steps(60, end) infinite;
  animation-delay: var(--_dm, 0ms);
  z-index: 8;
}
#all-screen #clock-face .hours {
  bottom: 50%;
  left: 48.5%;
  background-color: var(--foreground);
  height: 26%;
  width: min(2.5vh, 2.5vw);
  border-radius: 5cqi;
  animation: turn 43200s linear infinite;
  /* 60 * 60 * 12 */
  animation-delay: var(--_dh, 0ms);
  z-index: 9;
}
#all-screen #clock-face .dot {
  width: min(6vh, 6vw);
  height: min(6vh, 6vw);
  border-radius: 50%;
  background: var(--foreground);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 10;
  box-shadow: 0 2px 4px -1px black;
}
#all-screen #clock-face .dialline {
  position: absolute;
  z-index: 2;
  width: min(0.5vh, 0.5vw);
  height: min(2vh, 2vw);
  background: var(--foreground);
  left: 50%;
  transform-origin: var(--transform-origin);
}
#all-screen #clock-face .dialline-large {
  position: absolute;
  z-index: 2;
  width: min(1vh, 1vw);
  height: min(4vh, 4vw);
  background: var(--foreground);
  left: 50%;
  transform-origin: var(--transform-origin);
}
#all-screen #navbar {
  display: flex;
  flex-direction: var(--nav-direction);
}
#all-screen #navbar .icon {
  padding: 2%;
  font-size: var(--icon-size);
  color: var(--foreground2);
}
#all-screen #navbar .icon:hover {
  cursor: pointer;
}

@keyframes turn {
  to {
    transform: rotate(1turn);
  }
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/*# sourceMappingURL=styles.css.map */
